svg {
  circle {
    stroke: var(--contrast-color);
    fill: none;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  text {
    stroke: var(--text-color);
    font-weight: normal;
    font-size: large;

  }
}
