:host>div {
  &:hover {
    footer {
      opacity: 1;
      transition: opacity 250ms ease-in-out 750ms;
    }
  }

  position: relative;


  footer {
    opacity: 0;
    transition: opacity 250ms ease-in-out 300ms;
  }
}
