<figure>
  <figcaption [class.edited]="current_edited == 'name'">
    <span>
      <button class="absolute top-[50%] left-0 -translate-x-full -translate-y-[50%] pr-1 opacity-0 transition-opacity"
        (click)="toggle_edit('name')"><span class="material-icons">edit</span></button>
      @if(current_edited == 'name'){
      <input type="text" (keydown.enter)="change($event)" appAutosize [value]="timer.name" appAutofocus>
      }
      @else { {{timer.name}} }
    </span>
  </figcaption>
  <app-arc-progress [progress]="current_progress" [size]="100">
    <article>
      <section (dblclick)="toggle_edit('time')" (keydown.esc)="toggle_edit('time')">
        @if(current_edited == 'time'){
        <input type="time" step="1" [value]="timer_timeout" (keydown.enter)="change($event)" appAutofocus />
        }
        @else { <app-time [time]="content"></app-time> }
      </section>
      <button class="clear" id="timer_state" (click)="switch_timer_state()">{{ toggle_symbol }}</button>
    </article>
  </app-arc-progress>
</figure>
