@use "sass:math";
@import '/mixins.scss';

figure {
  position: relative;
  padding-top: 1.15rem;
  margin: 0;
  @include flex-center();

  figcaption {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    transition: background-color ease-out 0.25s;


    span {
      position: relative;
    }

    &:hover,
    &.edited {
      text-overflow: none;
      overflow: visible;

      span {
        button {
          opacity: 1;
        }

        display: inline-block;
      }
    }
  }
}

app-arc-progress {
  text-wrap: nowrap;

  article {

    position: relative;

    input[type=time] {
      font-size: 0.9rem;
      padding: 5px;
      border-radius: 10px;
      border: none;
      outline: none;

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    button#timer_state {
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 100%;
    }
  }
}
