article {
  $m: 3rem;

  margin: {
    left: $m;
    right: $m;
  }

  hgroup {
    padding-top: 0.05px;

    margin: {
      left: -$m;
      right: -$m;
    }

    background: var(--back-second);

    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }

}
