@use "sass:math";
@import '/mixins.scss';

$proportion: 6;

main {
  height: 100% - calc(100/$proportion);
  padding: 1rem;
  box-sizing: border-box;


  ul {
    margin: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;


      &:last-child {
        border: var(--back-second) 5px solid;

        &:hover {
          button {
            opacity: 1;
          }
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          background: none;
          border: none;
          opacity: 0;
          transition: opacity ease-in 0.5s;

          svg {
            $size: 50px;
            width: $size;
            height: $size;

            path {
              fill: var(--contrast-color);
            }
          }
        }

      }
    }

  }
}

footer {
  height: calc(100% / $proportion);
  background-color: var(--back-second);

  @include flex-center();

  form {
    width: fit-content;

    @include flex-center(row) {
      gap: 10px;
    }
  }
}
