@use "sass:math";
@import '../../styles.scss';

$proportion: 6;

main {
  height: 100vh - calc(100/$proportion);

  ul {
    padding-left: 0;
    display: grid;

    li {
      list-style-type: none;

      figure {
        @include flex-center();

        width: fit-content;

        figcaption {
          text-align: center;
        }
      }
    }
  }
}

footer {
  height: calc(100vh / $proportion);
  background-color: var(--second-back);

  @include flex-center();

  form {

    width: fit-content;

    @include flex-center(row) {
      gap: 10px;
    }
  }
}
