<main>
  <ul>
    <li *ngFor="let i of timers | keyvalue">
      <figure>
        <!-- TODO: Size of elemenets in figure align to size of timer -->
        <figcaption>{{i.key}}</figcaption>
        <app-timer [time]="i.value"></app-timer>
      </figure>
    </li>
  </ul>
</main>
<footer>
  <form [formGroup]="checkoutForm" (ngSubmit)="create_timer()">
    <input type="text" value="default" name="new-timer-name" list="suggestions" id="timer-name" formControlName="name"
      autocomplete="off">
    <input type="time" name="t" id="some" value="00:00:00" step="1" formControlName="time">
    <datalist id="suggestions">
      <option *ngFor="let i of timers | keyvalue" [value]="i.key"></option>
    </datalist>
    <button type="submit">{{has_timer() ? "Update" : "Create"}} timer</button>
  </form>
</footer>
