$drab-dark-brown: hsla(42, 28%, 19%, 1);
$russian-violet: hsla(253, 57%, 20%, 1);
$battleship-gray: hsla(162, 9%, 55%, 1);
$ut-orange: hsla(32, 100%, 50%, 1);
$erin: hsla(115, 100%, 64%, 1);
$sunglow: hsla(40, 100%, 67%, 1);

:root {
  --header-height: 3rem;


  --back-main: hsl(0, 0%, 88%);
  --back-second: hsl(0, 0%, 78%);
  --back-contrast: #{$ut-orange};
  --back-theme-switcher: gray;
  --text-color: black;
  --contrast-color: black;
  --link-color: #{$russian-violet};

  &[theme=dark] {
    --back-main: hsl(0, 0%, 8%);
    --back-second: #{$russian-violet};
    --back-contrast: #{$ut-orange};
    --back-theme-switcher: white;
    --text-color: white;
    --contrast-color: white;
    --link-color: #{$erin};
  }
}

html {
  background: var(--back-main);
  color: var(--text-color);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

button {
  background-color: var(--back-contrast);
  color: var(--text-color);
}

input {
  background-color: var(--back-main);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
