:host {
  $offset: 10px;
  display: block;
  position: fixed;
  top: $offset;
  left: $offset;

  button {
    background: none;
    border: none;

  }
}

svg {
  $size: 40px;
  width: $size;
  height: $size;
  fill: var(--contrast-color);
}

:root[theme=dark] svg {
  fill: white;
}
